
/********fonts selector code***********
font-family: 'Dancing Script', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
**************************************/

body{

  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Raleway', sans-serif;
  width: 100%;

}
.top-container {
  text-align: center;
  position: relative;
  background-color: #f8e4b7;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  width:100%;
}

.topcloud {
position: absolute;
left: 15%;
top:15%;
}

.bottomcloud {
position: absolute;
right: 15%;
bottom: 15%;
}

.Nameheader {
  margin: 0;
  color:#aa3a3a;
  font-size: 500%;
  padding-top: 40vh;
  font-family: 'Dancing Script', cursive;
}

.Tagline{
  margin: 0;
  font-size: 130%;
  line-height: 250%;
}

.mountain {
position: absolute;
visibility: hidden;
bottom: 0;
height: 60vh;
}

.Button{
margin: 0;
width: 5%;
padding: 1%;
position: absolute;
display: inline-block;
background-color: #f8e4b7;
font-weight: bold;

}
.Button:hover{
background-color: #f8e4b7;
color:#aa3a3a;
}
.Work{
right:35%;
padding: 1%;
}

.Collaborate{
  right:28%;
}
.About{
  right:19%;
}
.ButtonText{

}

.middle-container{
text-align: center;
}

.Hello{
  color:#aa3a3a;
  font-weight: bolder;
}

hr{
  border-color: grey;
  border-style: dotted none none;
  width: 5vw;
  border-width: 1vh;
  margin: 0 auto;
  text-align: center;
}

.ProfilePic{
border-radius: 50%;
height: 40vh;
width: 40vh;
}

.profile{
  display: inline-block;
  margin:10% auto 5% auto;
  width:50%;
}
.profiledesc{
  text-align: left;
  line-height: 5vh;
  margin-bottom: 5%;
  margin-top: 5%
}

.skills{

margin:5% auto 5% auto ;
}
.myskills{
color: #aa3a3a;
}
.skill-row{
  margin:5% auto 2.5% auto;
  display: inline-block;
  width: 50vw;
  text-align: left;
}
.Skilldesc{
  line-height: 5vh;
}
.financeicon{
  float: left;
  width: 20%;
  padding-right: 5%;
}
.thinkicon{
  float: right;
  width: 20%;
  padding-right: 5%;
}

.contact-me{
  text-align: center;
}
.getintouch{
  margin-top: 10%;
  color: #aa3a3a;
}

.WriteToMe{
  margin-top: 2.5%;
  color: #aa3a3a;
}

.LastText{
  margin-top: 2.5%;
  margin-bottom: 10%;
  color: black;
}

.btn {
   -webkit-border-radius: 20%;
   -moz-border-radius: 20%;
   border-radius: 20%;
   color: white;
   font-family: 'Raleway', sans-serif;
   font-size: 4vh;
   font-weight: 100;
   padding: 1%;
   background-color: #AA3A3A;
   border: solid #AA3A3A 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 10%;
}

.btn:hover {
   background: #F8E4B7;
   border: solid #F8E4B7 1px;
   -webkit-border-radius: 20%;
   -moz-border-radius: 20%;
   border-radius: 20%;
   text-decoration: none;
   color: #aa3a3a;
}

.bottom-container{
  text-align: center;
  height:10vh;
  background-color: #F8E4B7;
  padding: 2%;
}
.footer-link{
  color: #aa3a3a;
  padding: 0 1% 0 1%;
  text-decoration: none;
  font-weight: bold;
}

.footer-link:hover{
  color:black;
}
